<h2>Your Airbnb account has been deleted.</h2>
<p>We are sad to see you leave . If you ever feel for discovering
amazing places, we'll be waiting for you.  </p>

<%= link to "Go back to the homepage", root_path %>
