// Specific CSS for your home-page
.hero-section {
  background-image: url("https://images.pexels.com/photos/189333/pexels-photo-189333.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  background-size: cover;
  padding: 60px;
  margin: 0px 50px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  border-radius: 30px;
}

.hero-section .form-control {
  border-radius: 20px 0px 0px 20px;
}

.hero-section .btn {
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(161, 86, 15);
  border-color: rgb(161, 86, 15);
  opacity: 0.8;
}

.container .btn-primary {
  background-color: rgb(161, 86, 15);
  border-color: rgb(161, 86, 15);
  border-radius: 0px 20px 20px 0px;
}

.word-highlight{
  color: rgb(189, 166, 144);
  border-radius: 20px 20px 20px 20px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

p {
  font-family: sans-serif;
}

 .custom-cta-section {
  background-color: rgb(164, 137, 111);
 }
.card-content{
  align-items: center;
  padding:20px;
}
