.custom-carousel {
  width: 70%; /* Ajuste la largeur selon tes besoins */
  max-width: 800px; /* Limite la largeur maximale */
  margin: 0 auto; /* Centre le carousel */
}
.custom-carousel .carousel-inner img {
  height: 400px; /* Ajuste la hauteur */
  object-fit: cover; /* Garde une bonne proportion des images */
}
