.navbar-lewagon {
  justify-content: space-between ;
  padding: 50px ;
  margin:25px 50px;
  padding-top: 50px ;
  padding-bottom: 50px;
  background: white ;
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 260px;
}
.navbar-lewagon .navbar-brand{
  position: absolute;
  left: 40%;
}
